@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="home-text">Nhlanhla Vilakazi is a 24 year old punctual, self motivated and a hard working young man. As far as my educational qualifications are concerned, I hold a BTech degree in the field of Information Technology (Software Development). My objective is to secure employment where my education will be of service and make use of my skills in an environment that supports personal growth while helping the company achieve its goals.</h4>
</div>