@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <text class="display-4 home-text"> 
        Stay in touch:
    </text>
</div>
<br/>

<div class="text-center">
    <text class="display-4 home-text"> 
        <i class="fa-brands fa-linkedin"></i>
        &nbsp;
        <a href="https://www.linkedin.com/in/nhlanhla-vilakazi-960517180" target="_blank" rel="noopener noreferrer" >https://www.linkedin.com/in/nhlanhla-vilakazi-960517180</a>
    </text>
</div>

<hr/>
<div class="text-center">
    <text class="display-4 home-text"> 
        <i class="fa-solid fa-envelope"></i>
        &nbsp;
        Vilakazinhlanhlenhle@gmail.com
    </text>
</div>

<hr/>
<div class="text-center">
    <text class="display-4 home-text"> 
        <i class="fa-solid fa-phone"></i>
        &nbsp;
        079 262 7270
    </text>
</div>