*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    background-color: #fafafa;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover {
    color: red;
}

.add-btn {
    cursor: pointer;
    float: right;
    margin-bottom: 15px;
}

.footer {
    position: absolute;
    bottom: 0px;
    height: 100px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

.content {
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

.account-alert{
    margin-top: 35px;
}
/***/

body {
    width: 100%;
    height: 100vh;
    background-position: center;
    margin: 0px;
    background: url(http://www.freegreatpicture.com/files/147/18380-hd-color-background-wallpaper.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.home-text{
    color: #fff;
}