@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4 home-text">Welcome! This is a people's management system developed by <a href="https://www.linkedin.com/in/nhlanhla-vilakazi-960517180">Nhlanhla Vilakazi</a></h4>
    <h5 class="home-text">This system manages people, their accounts and their transactions!</h5>
</div>
